body {
    margin: 2;
    font-family: "Italiana", serif;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
}

ul {
    text-align: center;
    list-style: none;
}

li {
    display: inline;
    margin-right: 5px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
}

h2 {
    margin-left: 220px;
    margin-top: 150px;
}
p {
    margin-left: 220px;
   
}
button {
    margin-left: 340px;

}
img {
    width: auto;
    height: 500px;
    margin-right: 290px;
    margin-top: -80px;
    float: right;
}